<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000878828310-vaqegq2gdc5ud67uvnt09nrc2umn0bvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000878828310-vaqegq2gdc5ud67uvnt09nrc2umn0bvn</string>
	<key>API_KEY</key>
	<string>AIzaSyBI6rcra9I5zR7j5YNa-tihC5rub9Vho3s</string>
	<key>GCM_SENDER_ID</key>
	<string>1000878828310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shreyazala.Safal</string>
	<key>PROJECT_ID</key>
	<string>safal-2553a</string>
	<key>STORAGE_BUCKET</key>
	<string>safal-2553a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000878828310:ios:6141b4963c0800cba17e37</string>
</dict>
</plist>
